.main{
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #b7b7b7;
  position: relative;
  padding: 15px 0;
}
.main:last-child{
  border: none;
  padding-bottom: 30px;
}
.title{
  font-size: 1.2em;
  min-width: 300px;
}
.info{
  margin-left: 0;
  width: auto;
  word-break: break-all;
}
.dataTime{
  width: 100%;
  display: flex;
  span{
    margin: 0 10px;
  }
}
.close{
  width: 30px;
  height: 30px;
  position: absolute;
  right: 0;
  background-color: rgb(0,0,0,0);
  background-image: url("../../../../assets/images/arrow-down-svgrepo-com.svg");
  background-size: cover;
  background-position: center;
  border: none;
  cursor: pointer;
}
@media (max-width: 768px) {
  .title{
    font-size: 1em;
    width: 40%;
    min-width: 40%;
  }
  .info{
    width: auto;
    margin-left: 5%;
  }
}