.infoBlock{
  padding: 0 10px;
}
.openInfo{
  background: #f3f3f3;
  margin: 10px 0;
  padding-left: 15px;
  border-radius: 10px;
}
.hr{
  height: 0;
  border: none;
  border-bottom: 1px solid #b7b7b7;
}