.button{
  width: 50vw;
  height: 5vh;
  background: rgb(0, 120, 168);
  border: none;
  color: white;
  margin-bottom: 10px;
  font-size: 1.1em;
}
@media (max-width: 768px) {
  .button{
    width: 90vw;
  }
}