.main{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0; left: 0; right: 0; bottom: 0;
  width: 100vw;
  height: 100%;
  z-index: 70;
  overflow: hidden auto;
  padding: 50px 0;
}
.block{
  width: 50vw;
  height: auto;
  background: white;
  padding: 20px 50px 50px 50px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  position: relative;
}
.close{
  transform: rotate(45deg) scale(3);
  background: none;
  border: none;
  position: absolute;
  top: 20px;
  right: 20px;
  margin-bottom: 10px;
  cursor: pointer;
}
.button{
  width: 100%;
  height: 50px;
  background: #00A84D;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-top: 30px;
}