.header{
  width: 85vw;
  height: 5vh;
  right: 0;
  position: fixed;
  z-index: 5;
  font-family: "Open Sans", serif;
}
.bottomBlock{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
.image{
  width: 15px;
  height: auto;
  margin-left: 2.25vw;
}
.href{
  font-size: 16px;
  margin-left: 0.5vw;
}

@media (max-width: 768px) {
  .header{
    width: 100vw;
    position: relative;
    z-index: 99;
  }
  .topBlock{
    width: 90vw;
    height: 10vh;
    margin-left: 5vw;
  }
  .href{
    margin-left: 6vw;
    font-size: 1.05em;
  }
}