.form{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;

}
.title{
  text-align: center;
  margin: 3vh 0 2vh 0;
  font-size: 1.7em;
  font-weight: normal;
  color: #4F4F4F;
}


.close {
  display: none;
}


/* The Modal (background) */
.modal {
  // display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1000; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modalContent {
  background-color: rgb(42, 189, 128);
  display: flex;
  justify-content: center;
  margin: auto;
  padding: 30px;
  border: 1px solid #888;
  width: 40%;
}

.modalContent2 {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: auto;
  padding: 30px;
  border: 1px solid #888;
  width: 40%;
  margin-top: -2px;
}

.modalContent2 h2, .modalContent2 h1  {
  color:#3a3a3a;
}

.modalContent2 button {
  display: block;
  padding: 10px 50px;
  font-size: 20px;
  background-color: rgb(42, 189, 128);
  color: white;
  border: 0;
  border-radius: 100px;
  cursor: pointer;
}

//////////////////////////
///                    /// 
///                    /// 
//////////////////////////

.activeBlock {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: auto;
  padding: 30px;
  border: 1px solid #F1F1F1;
  width: 100%;
}

.activeBlock > div {
  // background-color: grey; 
  width: 90%;
  margin-bottom: 30px;
  font-size: 20px;
}

.activeHeader {
  font-size: 20px;
  .activeHeaderText {
    
  }
  .activeHeaderPath {
    background-color: #7BC2DF;
    color: white;
    padding: 14px 20px;
    margin-left: 10px;
    border-radius: 10px;
    position: relative;
  }
}

.activeMapInfo {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin: auto;
 
  
  .activeMap {
    width: 70%;
    font-size: 18px;
    .mapFrame {
      background-color: #F1F1F1;
      padding: 14px;
      .mapFrameHeader {
        margin-bottom: 16px;
      }
      .mapFrameField {
          background-color: #929292;
          text-align: center;
          padding-top: 150px;
          color: white;
          width: 100%;
          height: 330px;
      }
    }
    .mapTip {
      background-color: #7BC2DF;
      padding: 10px;
      margin-top: 14px;
      color: white;
      display: block;
      height: 62px;
      padding-left: 50px;
      position: relative;
      border-radius: 14px;
      &:before {
        width:30px;
        height:30px;
        left: 10px;
        content: "-";
        position: absolute;
        background-color: red;
      }
    }
  }
  .activeInfo {
    width: 28%;
    background-color: #F1F1F1;
    padding: 14px; 
    font-size: 18px;
    .activeInfoHeader {
      border-bottom: #5c5c5c 1px solid;
      padding-bottom: 10px;
      margin-bottom: 10px;
      font-weight: bold;
    }
    .blue {
      color: #66AAC6;
      margin-bottom: 20px;
    }

  }
}


.activeHistory {

  .historyBlock {
    background-color: #F1F1F1;
    padding: 14px;
    font-size: 18px;
    .historyHeader {
      margin-bottom: 16px;
    }
    .historyLog {
      background-color: white;
      padding: 15px;
      border: 1px solid rgb(70, 70, 70);
      width: 100%;
      height: 250px;
      font-size: 16px;
    }
  }
  .historyTip {
    background-color: #7BC2DF;
    margin-top: 14px;
    color: white;
    padding: 10px;
  }
}

.activeRoute {
  background-color: #F1F1F1;
  padding: 22px;
  .routeHeader {
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(85, 85, 85);
 }
 .routeList {
  padding-top: 10px;
 }
}