.tr{
  display: grid;
  text-align: left;
  grid-template-columns: 1fr 2fr 5fr;
  padding: 15px 20px;
  font-size: 1.1em;
  border-bottom: 1px solid rgb(231, 231, 231);
  cursor: pointer;
  color: rgb(111, 111, 111);
}
.tr:last-child{
  border-bottom: none;
}
.tr:hover{
  background: lightskyblue;
}
.tr:last-child:hover{
  border-radius: 0 0 20px 20px;
}
.th{
  font-weight: normal;
}
@media (max-width: 768px) {
  .tr{
    display: grid;
    grid-template-columns: 1fr 2fr 5fr;
    text-align: justify-all;
    padding: 15px 20px 15px 0;
    font-size: 1em;
  }
  .th{
    margin: 0 10px;
  }
}