.mainTest{

}
.pos{
  width: 100%;
  display: grid;
  grid-template-areas:
    "A A A   B B C C"
    "A A A   B B C C"
    "A A A   E E E E";
  column-gap: 30px;
  row-gap: 10px;
  padding: 0 20px;
  grid-auto-columns: 1.2fr 1fr;
}