.main{
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  padding: 10px 0;
}

.checkbox {
  appearance: none;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  background-color: white;
  border: 2px solid grey;
  border-radius: 2px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;

  &:after {
    content: "✓";
    font-size: 18px;
    color: white;
    display: none;
    vertical-align: middle;
  }
  &:hover {
    background-color: rgb(228, 228, 228);
  }
  &:checked {
    background-color: #0078A8;
    border: none;
  }
  &:checked:after {
    display: block;
  }

  + label {
    cursor: pointer;
  }
}