.main{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.title{
  margin: 20px 0;
  font-family: Arial;
  font-weight: lighter;
  font-size: 1.5em;
}
.pattern{
  width: 90%;
  height: auto;
  background: #ced4e1;
  padding: 50px 30px 30px 30px;
  border-radius: 20px;
  display: flex;
  justify-content: space-around;
  position: relative;
}
.absolut{
  font-size: 1.3em;
  position: absolute;
  top: 20px;
}
.monthBlock{
  width: 90%;
  position: relative;
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}
.monthText{
  font-size: 1.5em;
  margin: 20px;
}
.monthPosition{
  width: 100%;
  display: grid;
  gap: 20px;
  justify-items: center;
}
.section{
  background: #e5e5e5;
  border-radius: 20px;
  padding: 10px 10px 30px 10px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}