.main{
  width: auto;
  height: auto;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.spinner{
  width: 50px;
  height: 50px;
  border: 4px solid;
  border-color: #001c41 transparent #001c41 transparent;
  border-radius: 50%;
  animation: spin-anim 1.2s linear infinite;
}
@keyframes spin-anim {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}