.close{
  width: 30px;
  height: 30px;
  background-image: url("../../../assets/images/lock_icon_148524.svg");
  background-size: cover;
  background-position: center;
  position: absolute;
  left: -40px;
  top: 10px;
}
.link{
  color: black;
  text-decoration: none;
  &:last-child:hover {
      border-radius: 0 0 20px 20px;
    }
}
.tr{
  display: grid;
  text-align: left;
  grid-template-columns: 1fr 2fr 5fr;
  padding: 15px 20px;
  font-size: 1.1em;
  border-bottom: 1px solid rgb(231, 231, 231);
  cursor: pointer;
  color: rgb(111, 111, 111);
  position: relative;
}
.tr:last-child{
  border-bottom: none;
}
.tr:hover{
  background: lightskyblue;
}
.tr:last-child:hover {
  border-radius: 0 0 20px 20px;
}
.th{
  font-weight: normal;
}
.a{
  text-decoration: none;
  color: rgb(111, 111, 111);
  transition: 0.2s;
  margin-right: 40px;
  &:hover{
    transform: scale(1.1);
  }
}
@media (max-width: 768px) {
  .tr{
    display: grid;
    grid-template-columns: 1fr 2fr 5fr;
    text-align: justify-all;
    padding: 15px 20px 15px 0;
    font-size: 1em;
  }
  .th{
    margin: 0 10px;
  }
}