.tr{
  display: grid;
  text-align: left;
  grid-template-columns: 1fr 2fr 5fr;
  padding: 20px 20px;
  font-size: 1.2em;
  border-bottom: 2px solid rgb(231, 231, 231);

}
.tr:last-child{
  border-bottom: none;
}
.tr:hover{
  background: lightskyblue;
}
.tr:last-child:hover{
  border-radius: 0 0 20px 20px;
}
.th{
  font-weight: normal;
}
