.main{
  width: 100%;
  height: auto;
  padding: 1vh 1.5vw;
  display: flex;
  align-items: center;
}
.ico{
  width: 30px;
  height: 30px;
  background: whitesmoke;
  margin-right: 20px;
}
.text{
  font-size: 1.22em;
  transition: 0.3s;
}
.main:hover > .text{
  color: white;
  margin-left: 5px;
}