.form{
  width: calc(100% - 100px);
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  margin: 20px 50px;
}
.titlePage{
  font-size: 20px;
  font-family: "RG-StandardSemibold", serif;
  margin: 20px 50px;
}

.headerPage{
  width: 100%;
  height: 7vh;
  border-bottom: 1px solid #E2E5ED;
  display: flex;
  position: relative;
  align-items: center;
}
.styleElement{
  width: 3px;
  height: 28px;
  background-color: #00425C;
  position: absolute;
  top: calc(100% - 28px - 14px);
}
.title{
  font-family: RG-StandardSemibold, serif;
  font-size: 18px;
  color: #2E2E2E;
  margin-left: 20px;
}



.close {
  display: none;
}


/* The Modal (background) */
.modal {
  // display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1000; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modalContent {
  background-color: rgb(42, 189, 128);
  display: flex;
  justify-content: center;
  margin: auto;
  padding: 30px;
  border: 1px solid #888;
  width: 40%;
}

.modalContent2 {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: auto;
  padding: 30px;
  border: 1px solid #888;
  width: 40%;
  margin-top: -2px;
}

.modalContent2 h2, .modalContent2 h1  {
  color:#3a3a3a;
}

.modalContent2 button {
  display: block;
  padding: 10px 50px;
  font-size: 22px;
  background-color: rgb(42, 189, 128);
  color: white;
  border: 0;
  border-radius: 100px;
  cursor: pointer;
}