.input{
  width: 100%;
  height: auto;
  padding: 5px 10px;
  border-radius: 4px;
  border: 1px solid #DBDDE3;
  outline: none;
  font-size: 1.1em;
  transition: 0.5s;
  background-color: #F0F3F9;
}
.input:focus{
  border: 1px solid #000000;
}

.input::placeholder{
  color: #948C8C;
}

.select {
  width: calc(100%);
  height: auto;
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid #b7b7b7;
  outline: none;
  font-size: 1.1em;
  transition: 0.5s;
  margin-top: 0.5em;
}
.select:focus{
  border: 1px solid #000000;
}

.select option {
  padding: 100px;
  margin: 30px;
}