.main{
  width: 100%;
  height: auto;
  padding: 1vh 0 1vh 16px;
  display: flex;
  align-items: center;
}
.ico{
  width: 26px;
  height: 26px;
  margin-right: 10px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.text{
  font-size: 16px;
  transition: 0.3s;
  color: #B2CCD7;
  font-family: "Open Sans";
}
.main:hover > .text{
  color: white;
  margin-left: 5px;
}
@media (max-width: 768px) {
  .main{
    padding: 1vh 4vw;
  }
}