.button{
  width: 50vw;
  min-height: 5vh;
  background: rgb(0, 120, 168);
  border: none;
  color: white;
  margin-bottom: 10px;
  font-size: 1.1em;
  
  &[type=submit] {
    background: rgb(0, 168, 77);
  }
}

@media (max-width: 768px) {
  .button{
    width: 90vw;
  }
}
